.button-custom{
	height: auto;
	position: relative;
	display: block;
	padding: 10px 20px;
	background-color: rgb(13, 12, 12);
	color: white;
	border-radius: 8px;
	cursor: pointer;
	transition: all .3 linear;
}
.button-custom:hover{
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}