.video-bg{
	position: relative;
}
.text-ppal{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	height: 100%;
	color: #fff;
}
.text-ppal h1{
	width: 100%;
	font-size: 120px;
	font-weight: 700;
	text-shadow: 0px 4px 6px rgba(0,0,0,.3);
	line-height: 40px;
	/*backdrop-filter: blur(1px);*/
}
.text-ppal span{
	font-size: 22px;
	letter-spacing: 2px;
}
.text-secondary{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 80px 20px;
	text-align: center;
}
.text-secondary h4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 40px;
}
.text-secondary h2 {
	font-size: 50px;
	line-height: 60px;
}
.cards-content{
	margin-bottom: 80px;
}
.slider-content{
	padding: 60px 0 100px;
	background-color: black;
}
.slider-content__title{
	font-size: 50px;
	line-height: 60px;
	color: white;
	margin-bottom: 80px;
	text-align: center;
}
.slider-content__subtitle{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	color: white;
	text-align: center;
}