.contact{
	width: 100%;
	min-height: 300px;
	padding-top: 100px;
	background-color: black;
}
.contact__contain{
	width: 100%;
	max-width: 800px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}
.contact__title{
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 20px;
	line-height: 60px;
}
.contact__subtitle{
	font-size: 20px;
	font-weight: 300;
}
.contact__form{
	width: 50px;
	margin: 40px auto 100px;
}